@import 'nib'

.app-container
  &:empty
    &::after
      content 'Loading...'
      transform translate(-50%)
      absolute top 50% left 50%

.cfp-hotkeys-container.fade.in
  z-index 2000

.growl-container.growl-fixed
  
  width 350px
  z-index 1000
  
  @media (max-width: 767px)
    left 0
    right 0
    width 100%
    position fixed
    top 0 !important
    
    .alert
      border-radius 0
  
  .growl-item
    hr
      margin 5px 0
    
    @media (max-width: 767px)
      relative top 0px left 0
      
      &.ng-enter
        animation slide-down 250ms linear 0s 1
      
      &.ng-leave
        animation fade-out 250ms linear 0s 1

.edit-response-textarea
  min-height 100px

.highlight
  background-color yellow
