@import 'nib'

body
  font-size 2em
  font-weight 100
  line-height 1.3em
  font-family 'Hevetica Neue Light', 'Hevetica Neue', 'Helvetica', 'Arial', sans-serif

section
  margin-top 30px
  padding-top 30px
  
.footer
  padding 30px 0
  font-size .75em
  margin-top 30px
  text-align center
  border-top 1px solid #eee
  
  .version
    color #ddd

table.table-hover
  tbody
    tr
      :hover
        cursor pointer
      
      &.flagged
        background-color #fef
